@media #{$mobile} {

.main-nav__toggle {
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 100;
	border: none;
	right: 20px;
	top: 20px;
	font-size: 0;
	cursor: pointer;
	background-color: #d3d68d;
	&:hover {
		background-color: #b0b282;
	}

	span {
		display: block;
	}
}
	

.main-nav__sandwich {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200;
}
	

.main-nav__line-top {
	position: relative;
	top: 0;
	width: 28px; 
	height: 3px;
	background: rgb(255, 255, 255);
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	display: block;
}
	


.main-nav__line-middle {
	position: relative;
	width: 28px;
	height: 3px;
	top: 3px * 2.2;
	background: rgb(255, 255, 255);
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
	
.main-nav__line-bottom {
	position: relative;
	width: 28px;
	height: 3px;
	top: 3px * 4.5;
	background: rgb(255, 255, 255);
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
	
.main-nav__sandwich.active {
	.main-nav__line-top {
		top: 9px;
		transform: rotate(-45deg);
	}	
	.main-nav__line-middle {
		top: 6px;
		transform: rotate(45deg);
	}
		
	.main-nav__line-bottom {
		opacity: 0;
		top: 0;
		transform: rotate(180deg);
	}
		
}
	
}

@media #{$tablet} {
	.main-nav__toggle {
	display: none;
}
	
}

@media #{$desktop} {
	.main-nav__toggle {
	display: none;
}
}


	