
@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}
@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin container {
	width: auto;
	margin: 0 1em;
  // min-width: 320px;
  // margin: 0 auto;
  // text-align: center;

  @include tablet {
    width: 84%;
	max-width: 960px;
	margin: 0 auto;
  }
}


@mixin line-break {
	display: none;
	@include tablet {
		display: inline;
	}
}

@mixin theme-fonts {
  font-family: "PT Sans", "Arial", sans-serif;

  // text-transform: uppercase;
}

@mixin input-font {
  font-size: 18px;
  color: $bg-dark;
 
//   font-size: inherit;
//   color: inherit;
//   text-transform: inherit;
 }

@mixin bg-img-center-contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin bg-img-center-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}