$bg-dark: #292929;
$bg-light: #f8f5f2;
$th-decor-color: #d3d68d;
$th-decor-color-dark: #b0b282; 

// $tablet-width: 768px;
// $desktop-width: 1200px;
$mobile: (max-width: 767px);
$tablet: (min-width: 768px);
$desktop: (min-width: 1200px);
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);

//-------------dimensions---------------

// $scroll-width: 15px;
// $breakpoint-tablet: (min-width: $tablet-width + $scroll-width);
// $breakpoint-desktop: (min-width: $desktop-width + $scroll-width);
// $retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);


//---------------colors-----------------
// $bg-color: #ffffff;
// $theme-color-blue: #81b3d2;
// $theme-color-blue-hover: #669ec0;
// $theme-color-blue-active: #5496bd;
// $theme-color-lightgray: #f2f2f2;
// $input-checked-color: #333333;



