.form {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.form-group__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-group {
	width: 100%;
	margin-bottom: 20px;
}

.form-group--area {
	flex: 1;
}


.form-group__field {
	padding: 10px 10px;
	// color: $bg-dark;
	width: 100%;
	outline: none;
	@include input-font;
	&:focus::placeholder {
		opacity: 0.5;
	}



}


@media #{$mobile} {
	
	
}

@media #{$tablet} {
	.form {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}

	.form-group__wrapper {
		width: 47%;
	}

	.form-group__field--area {
		height: 100%;
	}

}

@media #{$desktop} {

}