

body {
	@include theme-fonts;
	font-size: 18px;
	line-height: 26px;
	
	color: #ffffff;
	font-style: normal;
	background-color: $bg-dark;
}

// img {
// 	max-width: 100%;
// 	height: auto;
//  vertical-align: bottom;
// }

// класс для скрытия текста, лучше делать так, а не через display: none;

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// input,
// textarea {
//   outline: none;
// }