.s-consult {
	background-color: $th-bg-light;
	padding: 0 0 19vh;
}
.s-consult__header {
	margin: 0 auto 5.5vh;
	z-index: 5;
	width: fit-content;
	position: relative;
	top: -2.1vh;
}
.s-consult__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 3.2vw;
	color: $th-color-dark;
	margin-bottom: 1.22vh;
	margin-top: 0;
	font-weight: 400;
	@include kerning(2);
}
.s-consult__decor {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	
}
.s-consult__line {
	width: 100%;
	height: 0.26vh;
	background-color: $th-color-blue;
}
.s-consult__decor-svg {
	
	width: 1.58vw;
	margin: 0 1.58vw;
}
.s-consult__wrapper {
	display: flex;
	flex-wrapper: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.s-consult__description {
	width: 36.36vw;
}
.s-consult__title-h3 {
	font-size: 2.52vw;
	line-height: 2.84vw;
	margin-top: 0;
	margin-bottom: 6.5vh;
	font-weight: 400;
}
@media #{$mobile} {
	
	
}			

@media #{$tablet} {
		
	
}


@media #{$desktop-small} {
	
}

@media #{$desktop} {
	

}