.main-nav {
	z-index: 50;
	position: relative;

}
.main-nav__wrapper {
	// width: 320px;
	// min-height: 50px;
	// margin: 0 auto;
	// font-family: "Raleway", sans-serif;
	// display: flex;
	// align-items: center;

	
}
.main-nav__items, .main-nav__item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item a {
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	position: relative;
	// height: 60px;
	outline: none;
}

.main-nav__social {
	display: flex;
	justify-content: center;
}

		


@media #{$mobile} {

	.main-nav__social {
		z-index: 100;
		position: fixed;
		left: 20px;
		top: 20px;
	}



	.main-nav__wrapper {
	// width: 320px;
	// min-height: 50px;
	// margin: 0 auto;
	position: fixed;
	width: 100%;
	height: 100%;
	// display: flex;
	// align-items: center;
	background-color: rgba(0, 0, 0, 0.85);
	
	right: 0;
	top: 0;
	display: none;

	}
	.main-nav__items {
		margin-top: 180px;
		text-align: center;
		animation-duration: .01s;
		@media (orientation:landscape) {
			margin-top: 50px;
		}
	}

	.main-nav__item {
		&:nth-child(1) a {
			animation-delay: 0s;
		}
		&:nth-child(2) a {
			animation-delay: .1s;
		}
		&:nth-child(3) a {
			animation-delay: .2s;
		}
		&:nth-child(4) a {
			animation-delay: .3s;
		}
	}
	.main-nav__item a {
		opacity: 0;
		position: relative;
		height: 60px;
		outline: none;
		span {
			display: block;
			position: relative;
			top: -40px;
			left: 0;
			height: 100%;
			transition: (all 0.5s ease);
			&:hover {
				background-color: rgba(255,255,255,.08);
			}
		}
		
	}
}			

@media #{$tablet} {
	
	.main-nav {
		width: auto;
		// min-height: 70px;
		margin: 0;
		background-color: $bg-dark;
	}

	.main-nav__wrapper {
		// @include container();
		@include container;
		// @include clearfix();
		display: flex;
		justify-content: space-between;
		
	}
	.main-nav__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		justify-content: space-around;
	}
	.main-nav__item {
		// float: left;
		margin-right: 32px;
		line-height: 20px;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}
	.main-nav__item a {
		padding: 20px 20px;
		font-size: 16px;
		position: relative;
		&:hover {
			color: #b0b282;
			// letter-spacing: 2px;
			&::after {
				content: "";
				position: absolute;
				right: 20px;
				bottom: 10px;
				left: 20px;
				height: 1px;
				background-color: #b0b282;
			}
		}
	}
	
}





@media #{$desktop} {

}