.s-about {
	min-height: 200px;
	margin-bottom: 50px;
}
.s-about__wrapper {
	@include container;
	
}
.s-about__header {
	padding: 30px 0 20px;
}
.s-about__title {
	text-align: center;
}


@media #{$tablet} {
	
}

@media #{$desktop} {
	
}